*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    flex-wrap: nowrap;
    --color1:#0A2126;
    --color2:#4c6e75;
    
}



#caja1{
    width: 1300px;
    margin: 0 auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#titulo{
    position: sticky;
    top: 0px;
    background-color: white;
    grid-area:header;
}
#titulo1{
    font-family: "Taviraj", serif;
    font-size: 100px;
    color: var(--color1);
    text-align: center;
}

#menuprincipal{
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#mp{margin: 5px 20px 30px 20px;}

#mp a:hover{
    color:var(--color2)
}

#mp a{
    color: var(--color1);
    text-decoration: none;
}

#cuerpo{
   display:grid;
    grid-template-areas: "header header"
                          "section aside"
                          "article aside"
                          "footer footer"; 
    grid-template-columns: "1fr 2fr";
    gap: 40px;
}

#arriba{
    grid-area:header;
    background-color: var(--color1);
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.cajita{
    grid-area: section;
    font-size: 20px;
}

.aside{
    grid-area: aside;
}

.foto{
    grid-area: article;
    ;
}


#abajo{
    grid-area: footer;
    background-color: var(--color1);
    color: white;
    font-size: 15px;
    padding: 18px;
    text-align: center;
    margin-bottom: 10px;
}

#raya{
    color: rgb(250, 152, 39);
    border: 1px  dashed;
    margin: 30px;
}

p{
    font-size: 25px;
}





#pie{
    text-align: center;
    display: flex;
    justify-content: center;
}

#ico{ margin: 20px 15px 20px 15px;}

#ico a:hover{
    color:var(--color2)
}

#ico a{
    color: var(--color1);
    text-decoration: none;
}
